* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.katex {
	font-size: 1em !important;
	font-family: "Times New Roman", Times, serif !important;
}

.katex * {
	font-family: "Times New Roman", Times, serif !important;
}

:root {
	--navigation-width: 300px;
}
